html, body{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Muli', sans-serif;
}

/*Global*/
.container{
	margin: auto;
}

/*margin adjustments*/

ul, h1, p{
	margin: 0;
}

header{
	background: #93c9a2;
	min-height: 80px;
	border-bottom: 3px solid black;
	color: white;
}

/*Navigation bar*/
nav{
	margin-top: 15px;
	padding: 10px;
	float: left;
	text-align: center;
	color:white;
}

.menu-item{
	padding: 20px;
	margin: 7px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.menu-item:hover {
	color: #eded5a;
	text-decoration: underline;
	transition: .5s;
}

.menu-item: visited{
	color: white;
	text-decoration: none;
}

#dropdown{
	position: relative;
	display: inline-block;
}

#dd-items{
	border: 1px solid gray;
	display: none;
	padding: 10px;
	margin: 0;
}

#dd-items a {
	padding: 10px;
	display: block;
	border: 1px solid gray;
	text-decoration: none;
}

#dd-items a{
	color: black;
	text-decoration: none;
}

#dd-items a:visited{
	color: black;
	text-decoration: none;
}

#dropdown:hover #dd-items{ 
	margin-top: 10px;
	margin-left: 2px;
	position: absolute;
	left: 5px;
	display: block;
	background: white;
 }

#dd-items a:hover{
	background-color: #eded5a;
	transition: .5s;
}

/*web name menu bar*/
#web-name{
	float: right;
	font-size: 25px;
	padding-right: 40px;
	padding-top: 5px;  
	color: white;
	text-decoration: none;
	font-family: 'Lobster', cursive;
	transition: transform .5s;
}
#web-name a{
	color: white;
}

#web-name a:visited{
	color: white;
	text-decoration: none;
}

#web-name:hover{
	transform: scale(1.2);
}

span{
	color: #eded5a;
}

#introduction{
	min-height: 500px;
	/*Photo by Bruna Branco on Unsplash*/	
	background: url("images/background.jpg") no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	border-bottom: 3px solid black;
}

#introduction .container{
	padding-top: 130px;
	font-family: 'Lobster', cursive;
}

#motto{
	color: #eded5a;
	font-size: 60px;
	text-shadow: 4px 4px black;
}

#quote{
	margin-top: 20px;
}

#more-recipes{
	margin-top: 20px;
	font-style: 'Muli', sans-serif;
	padding: 10px 10px;
	background-color: #93c9a2;
	border: 3px solid #93c9a2;
	border-radius: 10px;
	color: black;
}

#more-recipes a{
	text-decoration: none;
	font-weight: bold;
}

#more-recipes a:visited{
	text-decoration: none;
	color: black;
}

#more-recipes:hover{
	border: 4px solid white;
	transition: .5s;
}

#fun-facts{
	width: 80%;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 20px;
}

#ff-title{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
}

#fun-facts .container{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.reason{
	flex-basis: 30%;
	background: #7d0a2b;
	border: 4px solid black;
	border-radius: 10px;
	padding: 10px;
	align-self: center;
	height: 150px;
}
.reason h1{
	color: white;
	font-family: 'Lobster', sans-serif;
	letter-spacing: 3px;
	font-style: italic;
	text-shadow: 4px 4px black;
}
.reason span{
	font-size: 1.5em;
}

.reason p, .reason span{
	color: #7d0a2b;
}

.reason:hover p {
	color: white;
	transition: .7s;
}

.reason:hover span{
	font-weight: bold;
	text-shadow: 0px 3px 4px black;
	color: #eded5a;
	transition: .7s;
}

.reason:hover {
	box-shadow: 5px 5px 5px gray;
	transition: .5s;
}





